{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container mx-auto w-50 border border-primary rounded mt-3 p-4">
    <h1 class="text-center my-3">Inscription</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm, {
        attr : { 
            novalidate: 'novalidate' 
        }
    }) }}
        <div class=""> 
            <div class="col-4"> {{ form_row(registrationForm.civility, {
                label: "Civilité"
            }) }}</div>
            <div class="">{{ form_row(registrationForm.lastname, {
                label: "Nom"
            }) }}</div>
            <div class="">{{ form_row(registrationForm.firstname, {
                label: "Prénom"
            }) }}</div>
            <div class="">{{ form_row(registrationForm.email, {
                label: "Email"
            }) }}</div>
            <div class=""> {{ form_row(registrationForm.plainPassword, {
                label: "Mot de passe"
            }) }}</div>
            
        </div>


        <button type="submit" class="btn bg-light">Register</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
